body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    width: 230px;
    height: 54px;
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.media-body{
padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile.section{
    margin-top: 15px;
}
.text-edit{
    font-size: 18px;
    color: #999;
    margin-bottom: 15px;

}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}
.comment-hr{
    margin-top: 0;
}
.comment-operate{
    display: block;
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
}
.comment-operate .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment-operate .icon:hover{
    color: #499ef3;
}