body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    width: 230px;
    height: 54px;
    float: right;
    margin-bottom: 15px;
}

.media-object {
    margin-top: 8px;
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile.section {
    margin-top: 15px;
}

.text-edit {
    font-size: 18px;
    color: #999;
    margin-bottom: 15px;
    margin-left: 15px;
}

.comments {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}

.comment-hr {
    margin-top: 0;
}

.comment-operate {
    display: block;
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
}

.comment-operate .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.comment-operate .icon:hover {
    color: #499ef3;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.menu .active {
    color: #499ef3;
}

.comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.comment-icon :hover {
    color: #499ef3;
}